<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Careers' Portal - Kenyatta University Teaching, Referral & Research Hospital | Error</title>
    <!-- core:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/core/core.css') }}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- end plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/feather-font/css/iconfont.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
</head>

<body>
    <div class="main-wrapper">
		<div class="page-wrapper full-page">
            {% block header %}
                <nav class="navbar" style="width: 100%; left: 0;">
                    <div class="navbar-content">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link dropdown-toggle" href="https://kutrrh.go.ke/" id="languageDropdown" role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="font-weight-medium ml-1 mr-1">Go Back To WebSite</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% endblock header %}
			<div class="page-content d-flex align-items-center justify-content-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
        <!-- core:js -->
        <script src="{{ url_for('static', filename='vendors/core/core.js') }}"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <!-- end plugin js for this page -->
        <!-- inject:js -->
        <script src="{{ url_for('static', filename='vendors/feather-icons/feather.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/template.js') }}"></script>

        {{ moment.include_moment() }} {{ moment.lang(g.locale) }}
        <!-- endinject -->
        <!-- custom js for this page -->
        {% block scripts %}
        {% endblock %}
        <!-- end custom js for this page -->
</body>
</html>
