{% extends 'home/auth_base.html' %}
{% block content %}

<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-12 pl-md-0">
                    <p class="card-description">You need to confirm your account before continuing.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="center white-text">When you created an account, you should have received an email from us at {{ current_user.email }}
                    with a link to confirm your email address.</p>
                    <h1 class="center white-text">I didn't receive an email!</h1>
                    <p class="center white-text">No problem! Just click the button below and we'll send you another one.</p>
                    <a href="{{ url_for('account.confirm_request') }}" class="btn btn-primary"
                       type="submit" name="action">Resend confirmation email
                      <i data-feather="feather-send">Send</i>
                    </a>
                    <a class="small button" ></a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
