{% extends 'home/home_base.html' %}

{% block home_content %}
<div class="page-content d-flex align-items-center justify-content-center">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto" style="padding-top: 44px;text-align: center;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </div>
    </div>
</div>
<div class="page-content d-flex align-items-center justify-content-center pt-0">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto">
            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        {% for category, msg in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <strong>!</strong> {{ msg }}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="auth-form-wrapper px-4 py-5 col-md-10">
                            <a href="#" class="noble-ui-logo d-block mb-2">KUTRRH.<span>Careers</span></a>
                            <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your
                                account.</h5>
                            <form action="" class="f-login-form" method="POST">
                                {{loginform.hidden_tag()}}
                                <div class="form-group">
                                    <label for="" class="">Email address </label>
                                    {{loginform.email(class="form-control", placeholder="Email")}}
                                    {%for error in loginform.email.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Password </label>
                                    {{loginform.password(class="form-control", autocomplete="current-password",
                                    placeholder="Password")}}
                                    {%for error in loginform.password.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        {{loginform.remember_me(class="form-control remember_me", placeholder="Email")}}
                                        Remember me
                                    </label>
                                    {%for error in loginform.remember_me.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="mt-3">
                                    {{loginform.submit1(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>

                                <a href="{{url_for('account.reset_password_request')}}" class="d-block mt-3 text-muted">Forgot
                                    password?</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock home_content %}

{% block footer %}{% endblock footer %}
