{% extends 'home/home_base.html' %}

{% block home_content %}
<div class="page-content d-flex align-items-center justify-content-center">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto" style="padding-top: 44px;text-align: center;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </div>
    </div>
</div>
<div class="page-content d-flex align-items-center justify-content-center pt-0">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto">
            <div class="card">
                <div class="row">
                   <p>Deadline for submission of applications was 15th of June 2020.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock home_content %}

{% block footer %}{% endblock footer %}