{% extends 'home/home_base.html' %}

{% block home_content %}
<div class="page-content d-flex align-items-center justify-content-center">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto" style="padding-top: 44px;text-align: center;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </div>
    </div>
</div>
<div class="page-content d-flex align-items-center justify-content-center pt-0">
    <div class="row w-100 mx-0 auth-page">
        <div class="col-md-12 col-xl-12 mx-auto">
            <div class="card">
                <div class="row">
                    <div class="col-md-8 pr-md-0">
                        <div class="auth-form-wrapper col-md-10 px-4 py-5" style="padding-top: 7px">
                            <a href="#" class="noble-ui-logo d-block mb-2 mt-0">KUTRRH.<span>Careers</span></a>
                            <h5 class="text-muted font-weight-normal mb-4"><span style="color: #0279fa;">New User?</span> Create a KUTRRH account.</h5>
                            <form action="" class="f-login-form" method="POST">
                                {{registerform.hidden_tag()}}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="" class="">First Name: </label>
                                            {{registerform.first_name(class="form-control", placeholder="First name")}}

                                            {%for error in registerform.first_name.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="" class="">Surname: </label>
                                            {{registerform.surname(class="form-control", placeholder="Surname")}}

                                            {%for error in registerform.surname.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="" class="">ID Number/Passport Number: </label>
                                            {{registerform.id_number(class="form-control", placeholder="ID Number/Passport Number")}}

                                            {%for error in registerform.id_number.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="" class="">Email address </label>
                                            {{registerform.email(class="form-control", placeholder="Email")}}
                                            {%for error in registerform.email.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="" class="">Password </label>
                                            {{registerform.password(class="form-control", placeholder="Password")}}
                                            {%for error in registerform.password.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="" class="pb-1">Password Again: </label>
                                            {{registerform.password2(class="form-control", placeholder="Repeat
                                            Password")}}
                                            {%for error in registerform.password2.errors%}
                                            <span class="text-danger">{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ registerform.recaptcha() }}

                                    {%for error in registerform.recaptcha.errors%}
                                    <span class="text-danger error">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="mt-3">
                                    {{registerform.submit2(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>


                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 pl-md-0" style="border-left: 4px solid #e8ebf1;">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        {% for category, msg in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <strong>!</strong> {{ msg }}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="auth-form-wrapper px-4 py-5 col-md-10">
                            <a href="#" class="noble-ui-logo d-block mb-2">KUTRRH.<span>Careers</span></a>
                            <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your
                                account.</h5>
                            <form action="" class="f-login-form" method="POST">
                                {{loginform.hidden_tag()}}
                                <div class="form-group">
                                    <label for="" class="">Email address </label>
                                    {{loginform.email(class="form-control", placeholder="Email")}}
                                    {%for error in loginform.email.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-group">
                                    <label for="" class="">Password </label>
                                    {{loginform.password(class="form-control", autocomplete="current-password",
                                    placeholder="Password")}}
                                    {%for error in loginform.password.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        {{loginform.remember_me(class="form-control remember_me", placeholder="Email")}}
                                        Remember me
                                    </label>
                                    {%for error in loginform.remember_me.errors%}
                                    <span class="text-danger">{{error}}</span>
                                    {%endfor%}
                                </div>
                                <div class="mt-3">
                                    {{loginform.submit1(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                </div>

                                <a href="{{url_for('account.reset_password_request')}}" class="d-block mt-3 text-muted">Forgot
                                    password?</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock home_content %}

{% block footer %}{% endblock footer %}
