{% extends 'layouts/error.html' %}

{% block content %}

<div class="row w-100 mx-0 auth-page" style="margin-top: 5%">
    <div class="col-md-8 col-xl-6 mx-auto d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='images/404.svg') }}" class="img-fluid mb-2" alt="404">
        <h1 class="font-weight-bold mb-22 mt-2 tx-80 text-muted">403</h1>
        <h4 class="mb-2">Forbidden</h4>
        <h6 class="text-muted mb-3 text-center">Oopps!! You need to complete your forms to access this page.</h6>
        <a href="{% if current_user.is_authenticated and current_user.role.index == 'applicant' %}
            {{url_for('applicant.dashboard')}}
            {% elif current_user.is_authenticated and current_user.role.index == 'admin' %}
            {{url_for('admin.dashboard')}}
            {% else %}{{url_for('account.index')}}{% endif %}"
           class="btn btn-primary">Back to home</a>
    </div>
</div>

{%endblock%}

