{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendors/dropzone/dropzone.min.css') }}">
{% endblock %}

{% block content %}
<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">STEP THREE</a></li>
        <li class="breadcrumb-item active" aria-current="page">Academic Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform repeater" enctype="multipart/form-data" method="post" action="{{url_for('applicant.education_info')}}">
                        {{form.hidden_tag()}}
                    <h4 class="card-title">Academic Details</h4>
                    <p class="card-description">
                        Please fill in the following required fields.
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Your Highest Level Of Education *</label>
                                {{form.highest_level_education(placeholder="Highest Level Of Education", class="form-control")}}
                                {%for error in form.highest_level_education.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>The Exact Certification You Obtained * (in Full)</label>
                                {{form.exact_degree_diploma_title(placeholder="Doctorate in Psychology", class="form-control")}}
                                {%for error in form.exact_degree_diploma_title.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>

                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Add all your education details from PhD level and below. ENTER N/A IF NONE.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">PHD <span class="card-title" style="color: #0279fa;">
                            (ENTER N/A IF NONE).</span></h4>
                            <div data-toggle="fieldset" id="phone-fieldset"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.phd %}
                                    <div data-toggle="fieldset-entry" id="fe" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Doctorate in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="far" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">Masters <span class="card-title" style="color: #0279fa;">
                            (ENTER N/A IF NONE).</span></h4>
                            <div data-toggle="fieldset" id="phone-fieldsett"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.masters %}
                                    <div data-toggle="fieldset-entry" id="fee" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Masters in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="farr" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldsett"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">DEGREE <span class="card-title" style="color: #0279fa;">
                            (ENTER N/A IF NONE).</span></h4>
                            <div data-toggle="fieldset" id="phone-fieldsettt"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.degree %}
                                    <div data-toggle="fieldset-entry" id="feee" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Masters in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="farrr" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldsettt"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">HIGHER DIPLOMA <span class="card-title" style="color: #0279fa;">
                            (ENTER N/A IF NONE).</span></h4>
                            <div data-toggle="fieldset" id="phone-fieldsetttt"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.higher_diploma %}
                                    <div data-toggle="fieldset-entry" id="feeee" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Masters in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="farrrr" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldsetttt"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">DIPLOMA <span class="card-title" style="color: #0279fa;">
                            (ENTER N/A IF NONE).</span></h4>
                            <div data-toggle="fieldset" id="phone-fieldsettttt"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.diploma %}
                                    <div data-toggle="fieldset-entry" id="feeeee" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Masters in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="farrrrr" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldsettttt"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        <h4 class="card-title">CERTIFICATE <span class="card-title" style="color: #0279fa;">
                                (ENTER N/A IF NONE).
                            </span></h4>
                            <div data-toggle="fieldset" id="phone-fieldsetttttt"  style="width: 100%;">
                                <div id="items-table">
                                {% for product in form.certificate %}
                                    <div data-toggle="fieldset-entry" id="feeeeee" class="row uno">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Year Ended *</label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Name of Institution *</label>
                                                {{product.name_of_institution(placeholder="Havard", class="form-control")}}
                                                {%for error in product.name_of_institution.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Certificate Obtained *</label>
                                                {{product.certificate_obtained(placeholder="eg. Masters in Psychology", class="form-control")}}
                                                {%for error in product.certificate_obtained.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="farrrrrr" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldsetttttt"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Add your Professional/Technical Qualifications or Certifications.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div data-toggle="fieldset" id="phone-fieldset2"  style="width: 100%;">
                                <div id="items-table2">
                                {% for product in form.professional %}
                                    <div data-toggle="fieldset-entry" id="fe2" class="row dos">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Year Ended </label>
                                                {{product.year_ended(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_ended.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Name of Certificate </label>
                                                {{product.name_of_certification(placeholder="Cert", class="form-control")}}
                                                {%for error in product.name_of_certification.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone2-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="far2" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset2"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>


                    <div class="row mt-lg-4">
                        <div class="col-sm-12">
                            <p class="card-title" style="color: #0279fa;">
                                Membership to Professional Bodies.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div data-toggle="fieldset" id="phone-fieldset3"  style="width: 100%;">
                                <div id="items-table3">
                                {% for product in form.membership %}
                                    <div data-toggle="fieldset-entry" id="fe3" class="row tre">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Year Joined </label>
                                                {{product.year_joined(placeholder="e.g 2016", class="form-control")}}
                                                {%for error in product.year_joined.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Name of Membership </label>
                                                {{product.name_of_membership(placeholder="Membership name", class="form-control")}}
                                                {%for error in product.name_of_membership.errors%}
                                                <span class="text-danger">{{error}}</span>
                                                {%endfor%}
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-danger btn-icon"
                                                    data-toggle="fieldset-remove-row"
                                                        id="phone3-{{loop.index0}}-remove" style="position: relative;top: 30px;">
                                                <i data-feather="trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center">
                            <button id="far3" data-toggle="fieldset-add-row"
                                    data-target="#phone-fieldset3"
                                    type="button" class="btn btn-danger btn-icon-text mb-lg-4">
                                Add
                                <i class="btn-icon-append" data-feather="plus-circle"></i>
                            </button>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/dropzone/dropzone.min.js') }}"></script>
<script src="{{ url_for("static", filename="js/dibro.js") }}"></script>
    <script src="{{ url_for('static', filename='vendors/inputmask/jquery.inputmask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/inputmask.js') }}"></script>
<script>
    var selector = document.getElementsByClassName("yr");

    var im = new Inputmask("9999");
    im.mask(selector);
</script>
{%endblock%}