{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
    <!-- PAGE CSS-->
{% endblock %}

{% block content %}
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('applicant.dashboard') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">SELECT JOB</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"><h6>MAKE SURE ALL BOXES ON THE LEFT SIDEBAR ARE CHECKED GREEN.</h6></div>
                    <form class="cmxform" action="{{ url_for('applicant.new_application') }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Select Job *</label>
                                    {{ form.job(class="form-control") }}
                                    {% for error in form.job.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {{ form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}