{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link rel="stylesheet"
      href="{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">

{% endblock %}

{% block content %}
<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="cover">
                    <div class="gray-shade"></div>
                    <figure>
                        <img src="https://via.placeholder.com/1148x272" class="img-fluid" alt="profile cover">
                    </figure>
                    <div class="cover-body d-flex justify-content-between align-items-center">
                        <div>
                            <img class="profile-pic" src="https://via.placeholder.com/100x100" alt="profile">
                            <span class="profile-name">{{ current_user.full_name() }}</span>
                        </div>
                        <div class="d-none d-md-block">
                            <button class="btn btn-primary btn-icon-text btn-edit-profile">
                                <i data-feather="edit" class="btn-icon-prepend"></i> Edit profile
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header-links">
                    <ul class="links d-flex align-items-center mt-3 mt-md-0">
                        <li class="header-link-item d-flex align-items-center active">
                            <i class="mr-1 icon-md" data-feather="columns"></i>
                            <a class="pt-1px d-none d-md-block" href="#">Profile</a>
                        </li>
                        <li class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                            <i class="mr-1 icon-md" data-feather="user"></i>
                            <a class="pt-1px d-none d-md-block" href="{{url_for('applicant.profile_summary')}}">Summary</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row profile-body">
        <!-- left wrapper start -->
        <div class="d-none d-md-block col-md-12 col-xl-12 left-wrapper">
            <div class="card rounded">
                <div class="card-body">
                    <div class="">
                        <!--jqueryvalidation-->
                        <div id="jqueryvalidation">
                            <div class="row">
                                <div class="col-md-12 col-xl-12 mx-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Edit Profile</h5>
                                            <form class="formValidate" id="formValidate" method="post"
                                                  action="{{url_for('applicant.profile')}}">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        {{form.hidden_tag()}}
                                                        <div class="form-group">
                                                            <label>First Name*</label>
                                                            {{form.first_name(class="form-control")}}
                                                            {%for error in form.first_name.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            {{form.surname.label}}
                                                            {{form.surname(class="form-control")}}
                                                            {%for error in form.surname.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>E-Mail *</label>
                                                            {{form.email(class="form-control")}}
                                                            {%for error in form.email.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            {{form.address.label}}
                                                            {{form.address(class="form-control")}}
                                                            {%for error in form.address.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p class="mb-2">Date Of Birth</p>
                                                        <div class="input-group date datepicker" id="datePickerExample"
                                                        style="margin-bottom: 1rem;" data-date-format="dd/mm/yyyy">
                                                            {{form.dob(class="form-control")}}
                                                            <span class="input-group-addon"><i
                                                                    data-feather="calendar"></i></span>
                                                            {%for error in form.dob.errors%}
                                                            <span class="text-danger">{{error}}</span>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
<script>
$(function() {
  'use strict';

  if($('#datePickerExample').length) {
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#datePickerExample').datepicker({
      format: "dd/mm/yyyy",
      todayHighlight: true,
      autoclose: true
    });
    // var ub = new Date('{{user_dob}}');
    $('#datePickerExample').datepicker('setDate', {%if user_dob%}'{{user_dob}}'{%else%} today {%endif%});
  }
});
</script>
{% endblock %}