<table  class="responsive-table display data-table" cellspacing="0">
  <thead>
    <tr>
      <th>#</th>
      <th>Applicant Name</th>
      <th>Listing</th>
      <th>Departure Date</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Price Due</th>
      <th>Action</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>#</th>
      <th>Applicant Name</th>
      <th>Listing</th>
      <th>Departure Date</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Price Due</th>
      <th>Action</th>
    </tr>
  </tfoot>
  <tbody>
    {%  for application in applications %}
    <tr>
      <td>{{ loop.index }}</td>
      <td><a href="{{ url_for('publisher.get_profile',id=application.user.id) }}">{{application.user.full_name()}}</a></td>
      <td>{{application.listing.title}}</td>
      <td>{{application.orders.departure_date.strftime('%d-%m-%Y')}}</td>
      <td>{{application.orders.adults}}</td>
      <td>{{application.orders.children}}</td>
      <td>{{  "$ {:,.0f}".format(application.orders.grand_total)}}</td>
      <td>
        {% if application.state == 'pending' %}
        <a class='dropdown-button btn waves-effect waves-light amber darken-4' href='#' data-activates='dropdown{{ application.id }}'>Pending</a>
          <ul id='dropdown{{ application.id }}' class='dropdown-content'>
            <li><a href="{{ url_for('publisher.confirm_application',id=application.id,state='accepted') }}">Accept</a></li>
            <li><a onclick="cancelApplication('{{application.id}}')" href="#">Cancel</a></li>
          </ul>
          {% elif application.state == 'accepted' %}
          <a class='dropdown-button btn waves-effect waves-light green darken-1' href='#' data-activates='dropdown{{ application.id }}'>Accepted</a>
            <ul id='dropdown{{ application.id }}' class='dropdown-content'>
              <li><a onclick="cancelApplication('{{application.id}}')" href="#">Cancel</a></li>
            </ul>
          {% elif application.state == 'cancelled' %}
          <a class='dropdown-button btn waves-effect waves-light red accent-2' href='#' onclick='swal("Reason for Cancellation", "{{ application.reason }}")'>Cancelled</a>
          {% endif %}
      </td><!-- Dropdown Trigger -->
    </tr>
    {% endfor %}
  </tbody>
</table>

{% block scripts %}
<script>
  $('.data-table').DataTable();
  </script>
{% endblock %}
