{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- plugin css for this page -->
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/prismjs/themes/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons/buttons.dataTables.min.css') }}">
<!-- end plugin css for this page -->
<!-- end plugin css for this page -->
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('admin.job_listings')}}">Jobs</a></li>
            <li class="breadcrumb-item active" aria-current="page">ALL JOBS</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
        <a href="{{ url_for('admin.newListing')}}" type="button" class="btn btn-primary">CREATE NEW</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-4">All Job Listings</h6>
                </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-hover mb-0">
                        <thead>
                          <tr>
                              <th class="pt-0">#</th>
                              <th class="pt-0">Job Ref. No.</th>
                              <th class="pt-0">Job Title</th>
                              <th class="pt-0">Applications</th>
                              <th class="pt-0">Deadline</th>
                              <th class="pt-0">Positions</th>
                              <th class="pt-0">Status</th>
                              <th class="pt-0">Publish</th>
                              <th class="pt-0">Action</th>
                          </tr>
                        </thead>

                        <tbody>
                        {% for listing in listings %}
                          <tr>
                              <td>{{loop.index}}</td>
                              <td><a href="{{url_for('admin.job_listing_id',id=listing.id)}}">{{listing.job_reference_number}}</a>
                              </td>
                              <td><a href="{{url_for('admin.job_listing_id',id=listing.id)}}">{{listing.job_title}}</a>
                              </td>
                          {% set on =  listing.applications.filter_by(status='applied').count() %}
                          {% set ma = listing.manual_entries.count() %}
                          {% set total_count = on + ma %}
                              <td>{{ total_count }}</td>
                              <td>{{ "{:%d/%m/%Y}".format(listing.availability_to) }}</td>
                              <td>{{listing.positions}}</td>
                              <td>
                                  {% if listing.published == 0 %}
                                  <span class="badge badge-info-muted">Not Published</span>
                                  {%else%}
                                  <span class="badge badge-success">Published</span>
                                  {% endif %}
                              </td>
                              <td>{% if listing.published == 1 %}
                                <a href="{{ url_for('admin.publish_listing', job_listing_id=listing.id) }}"
                                   class="btn btn-danger">Decline</a>
                                {% else %}
                                <a href="{{ url_for('admin.publish_listing', job_listing_id=listing.id) }}"
                                   class="btn btn-success">Publish</a>
                                {%endif%}
                              </td>
                          <td><a href="{{ url_for('admin.delete_listing', id=listing.id) }}"><button type="button" class="btn btn-danger btn-icon">
                                  <i data-feather="trash-2"></i></button></a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {%for listing in listings%}
    <!-- Modal -->
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">


    </div>
    {%endfor%}
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendors/prismjs/prism.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/clipboard/clipboard.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons/buttons.html5.min.js') }}"></script>
<script>
  function listing_details(id) {
    $.ajax('{{ url_for('admin.job_listing_details') }}?since=' + id).done(function(response) {
                    $('#modal4').html(response)
    }).fail(function() {
        console.log('Error: Could not contact server.');
    });

  }
</script>
<script>

    $(function () {
        'use strict';

        $(function () {
            $('#dataTable').DataTable({
                "aLengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: ""
                },
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'csvHtml5',
                    'pdfHtml5',
                    {
                        extend: 'excel',
                        messageTop: 'All The Applications.'
                    },
                ]
            });
            $('#dataTable').each(function () {
                var datatable = $(this);
                // SEARCH - Add the placeholder for Search and Turn this into in-line form control
                var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
                search_input.attr('placeholder', 'Search');
                search_input.removeClass('form-control-sm');
                // LENGTH - Inline-Form control
                var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
                length_sel.removeClass('form-control-sm');
            });
        });

    });
</script>
{% endblock %}
