{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
{{ super() }}

{% endblock %}

{% block content %}


<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{url_for('admin.dashboard')}}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">CREATE NEW USER</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="cmxform" action="{{url_for('admin.new_user')}}" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Role *</label>
                                {{ form.role(class="form-control") }}
                                {%for error in form.role.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email *</label>
                                {{ form.email(placeholder="Email", class="form-control") }}
                                {%for error in form.email.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>First Name *</label>
                                {{ form.first_name(placeholder="First Name", class="form-control") }}
                                {%for error in form.first_name.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name *</label>
                                {{ form.second_name(placeholder="Last Name", class="form-control") }}
                                {%for error in form.second_name.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% if form.password %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Password</label>
                                {{ form.password(placeholder="Password", class="form-control") }}
                                {%for error in form.password.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <label>Confirm Password</label>
                                {{ form.password2(placeholder="Confirm Password", class="form-control") }}
                                {%for error in form.password2.errors%}
                                <span class="text-danger">{{error}}</span>
                                {%endfor%}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            {{form.submit(class="btn btn-primary mr-2 mb-2 mb-md-0 text-white")}}
                        </div>
                    </div>
                    {% if form.password %}
                        {{ check.password_check('password', 1) }}
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function() {
        $('#submit').attr('disabled', true);
        $('#password2').keyup(function () {
            var result = $(this).val();
            var result2 = $('#password2').val();
            if (result == result2) {
                $('#submit').attr('disabled', false);
            } else {
                $('#submit').attr('disabled', true);
            }
        });
    });
</script>
{% endblock %}
