{% macro render_footer(current_user) %}
     <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between">
        <p class="text-muted text-center text-md-left">Copyright ©
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script> <a href="https://www.kutrrh.go.ke" target="_blank">KUTRRH</a>. All rights reserved</p>
        <p class="text-muted text-center text-md-left mb-0 d-none d-md-block">help@kutrrh.go.ke for inquiries<i class="mb-1 text-primary ml-1 icon-small" data-feather="smile"></i></p>
    </footer>
    <!-- END FOOTER -->
{% endmacro %}
