{% macro render_header(current_user) %}

<nav class="navbar">
    <a href="#" class="sidebar-toggler">
        <i data-feather="menu"></i>
    </a>
    <div class="navbar-content">
        <h6 style="padding: 23px 0;">Hi, {{ current_user.first_name|upper }} {{ current_user.surname|upper }}</h6>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="flag-icon flag-icon-us mt-1" title="us"></i> <span class="font-weight-medium ml-1 mr-1">English</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="languageDropdown">
                    <a href="javascript:;" class="dropdown-item py-2"><i class="flag-icon flag-icon-us" title="us"
                                                                         id="us"></i> <span
                            class="ml-1"> English </span></a>
                </div>
            </li>
            {% set new_messages = current_user.new_messages() %}
            <li class="nav-item dropdown nav-messages">
                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i data-feather="mail"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="messageDropdown">
                    <div class="dropdown-header d-flex align-items-center justify-content-between">
                        <p class="mb-0 font-weight-medium"><small
                                style="visibility:{% if new_messages %}visible{% else %}hidden{% endif %};">{{
                            new_messages }}</small> New Messages</p>
                    </div>
                    <div class="dropdown-footer d-flex align-items-center justify-content-center">
                        <a href="{% if current_user.role.name =='Applicant'%}
                        #{%else%}#{%endif%}">View all</a>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown nav-notifications">
                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="bell"></i>

                </a>
                {% include 'applicant/_notification.html' %}
            </li>
            <li class="nav-item dropdown nav-profile">
                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="https://via.placeholder.com/30x30" alt="profile">
                </a>
                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                    <div class="dropdown-header d-flex flex-column align-items-center">
                        <div class="figure mb-3">
                            <img src="https://via.placeholder.com/80x80" alt="">
                        </div>
                        <div class="info text-center">
                            <p class="name font-weight-bold mb-0">{{ current_user.full_name() }}</p>
                            <p class="email text-muted mb-3">{{ current_user.email }}</p>
                        </div>
                    </div>
                    <div class="dropdown-body">
                        <ul class="profile-nav p-0 pt-3">
                            <li class="nav-item">
                                <a href="{% if current_user.role.name =='Applicant'%}
                           {{ url_for('applicant.profile') }}
                          {%else%}
                           {{ url_for('applicant.profile') }}
                            {%endif%}" class="nav-link">
                                    <i data-feather="user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% if current_user.role.name =='Applicant'%}
                           {{ url_for('applicant.profile') }}
                          {%else%}
                           {{ url_for('applicant.profile') }}
                            {%endif%}" class="nav-link">
                                    <i data-feather="edit"></i>
                                    <span>Edit Profile</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="{{url_for('account.logout')}}" class="nav-link">
                                    <i data-feather="log-out"></i>
                                    <span>Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

{% endmacro %}
